<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- 해당 페이지에서만 사용할 CSS -->
    <!-- 1. 썸머노트 CSS , 부트스트랩 버전과 썸머노트 버전 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" /></head>
<body>
    <div th:replace="~{/header.html :: header }"></div>

    <div class="container">
    <h3>게시물 쓰기 페이지</h3>
    <form class="form-control my-3 boardWriteForm">
        <div class="row">
            <div class="col-3">
                <label for="category" class="form-label">카테고리</label>
                <select name="bcno" class="form-select" id="category">
                    
                </select>
            </div>
            <div class="col-9">
                <label for="btitle" class="form-label">제목</label>
                <input name="btitle" class="form-control" id="btitle"/>
            </div>
        </div>
        <div style="margin-top: 10px;" class = "row">
            <label for="bcontent "class="form-label">내용</label> 
            <textarea name="bcontent" class="form-control" id="summernote"></textarea></br>
        </div>
        <div style="margin-top: 10px;" class = "row">
            <label for="bfile "class="form-label">첨부파일</label> 
            <input name="uploadFile" type="file" class="bfile" / >
        </div>
            <button style="margin-top: 10px;" class="btn btn-secondary" onclick="bWrite()" type="button">작성 완료</button>
    </form>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" ></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js" ></script>
    <script src='/js/board/boardwrite.js'></script>

    <div th:replace="~{/footer.html :: footer }"></div>
</body>
</html>