<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>상세 글 보기</title>

    <link rel="stylesheet" type="text/css" href="/css/board/boardread.css">

</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>
    <div class="container veiwBox">

        <a class="mb-4" href="/board/getall">돌아가기</a>
        <div class="bcName"> ( 카테고리명 ) </div>
        <div class="bTitle"> 안녕하세요1 (제목구역) </div>
        <div class="etcBox"> (작성자) , ( 조회수 ) , ( 작성일 ) </div>
        <div class="bContent"> 내용 (내용구역) </div>

        <div class="bfile"> 첨부파일 (첨부파일구역) </div>
        <div class="btnBox">
                    
        </div>

    </div>

    <script src="/js/board/boardread.js"></script>
    <div th:replace="~{/footer.html :: footer }"></div>

</body>
</html>