<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{/header.html:: header}"></div>
    내정보 페이지
    <div id="myinfo">
        <span> 아이디 : </span>
        <span> 이름 : </span>
        <span> 이메일 : </span>
        <span> 연락처 : </span>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/myinfo.js"></script>

    <div th:replace="~{/footer.html:: footer}"></div>
</body>
</html>