.viewBox{
    margin-top: 20px;
    padding: 10px;
}
.viewBox > .bTitle{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}
.viewBox > .bContent{
    min-height: 500px;  /* 글이 없을 때도 최소 높이 고정 */
    border-top: 1px solid #eeeeee;
    padding: 15px 0px;
}
.view > .etcBox > span{
    margin-right: 10px;
}